NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://hospital_user:hospital_password@localhost:5432/hospital_management
DATABASE_SSL=false
CORS_ORIGIN=http://localhost:3000

POSTGRES_DB=hospital_management
POSTGRES_USER=hospital_user
POSTGRES_PASSWORD=""
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050
